@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&family=Lobster&display=swap');

body {
  font-family: Segoe UI, sans-serif;
  background: linear-gradient(90deg, rgb(252, 234, 28) 0%, #3acdff 37%, #ff3db3 82%, rgba(222, 28, 133, 1) 100%);
  color: 000000;
  padding: 16px;
  text-align: center;
  font-family: 'Fraunces', serif;
  background-repeat: no-repeat;
  background-size: 100%;
}

p {
  color: black;
}

.img-came {
  border-radius: 50%;
  box-shadow: 3px 3px 4px #000000;
  }

h1, h2, h3 {
  font-family: 'Lobster', sans-serif, monospace;
  color:#ffffff;
  text-shadow: 6px 6px 40px #ff3db3;
  filter: drop-shadow(2px 2px 20px #d70b85)
}

a {
  text-decoration: none;
  color: #17b1e5;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s ease;
}

a:hover {
  color: #ff3db3;
}

.coeur {
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  background: #3acdff;
  box-shadow: 0 0 0 0 rgba(222, 28, 133, .7);
  animation: battement 2s infinite cubic-bezier(.66, 0, 0, 1);
  text-decoration: none;

}

@keyframes battement {
  to {
    box-shadow: 0 0 0 30px rgba(255, 71, 84, 0);
  }
}

.card {
  background-color: #ffffff;
  padding: 30px;
  width: 500px;
  margin: 25px auto;
  border-radius: 1%;
  border: 1px solid #ffffff;
}

li{
  display: inline;
}

ul {
  padding: 0;
}
